**Medidas de posição**

Dados de nascidos vivos em 2017 de Sergipe e responda às seguintes perguntas:

In [2]:
import pandas as pd
c = '/content/drive/MyDrive/DNSE2017.csv'

dfsergipe = pd.read_csv(c, dtype=str)
dfsergipe

      contador ORIGEM CODESTAB  ... TPROBSON PARIDADE KOTELCHUCK
0            1      1  2415631  ...       05        1          9
1            2      1  2005050  ...       03        1          3
2            3      1  2005050  ...       11        0          5
3            4      1  2005026  ...       05        1          2
4            5      1  2722429  ...       03        1          2
...        ...    ...      ...  ...      ...      ...        ...
33862    33863      1  2115891  ...       10        1          5
33863    33864      1  3137163  ...       02        0          3
33864    33865      1  2755092  ...       04        1          5
33865    33866      1  2077574  ...       04        1          5
33866    33867      2  6901743  ...       03        1          5

[33867 rows x 61 columns]

In [3]:
dfsergipe.PESO = pd.to_numeric(dfsergipe.PESO)
dfsergipe.IDADEMAE = pd.to_numeric(dfsergipe.IDADEMAE).astype(pd.Int64Dtype())
dfsergipe.IDADEPAI = pd.to_numeric(dfsergipe.IDADEPAI).astype(pd.Int64Dtype())
dfsergipe.QTDFILVIVO = pd.to_numeric(dfsergipe.QTDFILVIVO).astype(pd.Int64Dtype())
dfsergipe.QTDFILMORT = pd.to_numeric(dfsergipe.QTDFILMORT).astype(pd.Int64Dtype())
dfsergipe.APGAR1 = pd.to_numeric(dfsergipe.APGAR1).astype(pd.Int64Dtype())
dfsergipe.APGAR5 = pd.to_numeric(dfsergipe.APGAR5).astype(pd.Int64Dtype())
dfsergipe.SEMAGESTAC = pd.to_numeric(dfsergipe.SEMAGESTAC).astype(pd.Int64Dtype())
dfsergipe.CONSPRENAT = pd.to_numeric(dfsergipe.CONSPRENAT).astype(pd.Int64Dtype())
dfsergipe.SERIESCMAE = pd.to_numeric(dfsergipe.SERIESCMAE).astype(pd.Int64Dtype())
dfsergipe.QTDPARTCES = pd.to_numeric(dfsergipe.QTDPARTCES).astype(pd.Int64Dtype())
dfsergipe.QTDPARTNOR = pd.to_numeric(dfsergipe.QTDPARTNOR).astype(pd.Int64Dtype())
dfsergipe.QTDGESTANT = pd.to_numeric(dfsergipe.QTDGESTANT).astype(pd.Int64Dtype())

**1-Qual a média da idade da mae, peso, apgar 1 min, apgar 5 min, quantidade de filhos vivos e quantidades de filhos mortos?**

In [8]:
dfsergipe[['IDADEMAE','PESO','APGAR1','APGAR5','QTDFILVIVO','QTDFILMORT']].mean()

IDADEMAE        26.148079
PESO          3223.196332
APGAR1           8.443829
APGAR5           9.526913
QTDFILVIVO       1.123062
QTDFILMORT       0.310486
dtype: float64

**2-Qual a idade tal que metade das idades das mães são menores que ela (mediana)?**

In [10]:
dfsergipe.IDADEMAE.median()

26.0

**3-Qual o apgar de 1 min que mais aparece (moda)?**

In [11]:
dfsergipe.APGAR1.mode()

0    9
dtype: Int64

**4-Qual o apgar de 5 min que mais aparece?**

In [12]:
dfsergipe.APGAR5.mode()

0    10
dtype: Int64

**5-Qual o peso da criança tal que 10% dos pesos são menores (P10)?**

In [13]:
dfsergipe.PESO.quantile([0.10])

0.1    2570.0
Name: PESO, dtype: float64

**6-Qual o peso da criança tal que 75% dos pesos são menores (Q3)?**

In [16]:
dfsergipe.PESO.quantile([0.75])

0.75    3575.0
Name: PESO, dtype: float64

**7-Qual a quantidade de filhos mortos que mais aparece?**

In [17]:
dfsergipe.QTDFILMORT.mode()

0    0
dtype: Int64

**8-Qual a média de idade de mães solteiras?**

In [19]:
dfsergipe.IDADEMAE[(dfsergipe.ESTCIVMAE == '1')].mean()

24.929703822047436

**9-Qual a quantidade de filhos vivos das mães com até 3 anos de escolaridade tal que 25% dessa quantidade são menores (Q1)?**

In [31]:
escolaridade = dfsergipe[(dfsergipe.ESCMAE =='1') | (dfsergipe.ESCMAE =='2')]
escolaridade.QTDFILVIVO.quantile([0.25])

0.25    1
Name: QTDFILVIVO, dtype: object

**10-Qual a moda da idade das maes para as crianças que nasceram com anomalia congênita?**

In [27]:
anomalia = dfsergipe[dfsergipe.IDANOMAL == '1']
anomalia.IDADEMAE.mode()

0    21
dtype: Int64