<h3>Dataset Kaggle: 
Automoveis Usados da Alemanha vendidos pelo Ebay</h3>

In [10]:
#Importando Pandas
import pandas as pd

In [12]:
#Lendo dataaset de automoveis usados na Alemanha quem estão a venda pelo Ebay
autos_df = pd.read_csv('C:\FCD/autos.csv')

In [14]:
#Abrindo dataset
autos_df.head(8)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,...,postalCode,lastSeen,yearOfCreation,yearCrawled,monthOfCreation,monthCrawled,NoOfDaysOnline,NoOfHrsOnline,yearsOld,monthsOld
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Offer,480,test,Other,1993,manuell,0,...,70435,2016-04-07 03:16:57,2016,2016,March,March,14,3,23,11
1,2016-03-23 10:58:45,A5_Sportback_2.7_Tdi,privat,Offer,18300,test,coupe,2011,manuell,190,...,66954,2016-04-07 01:46:50,2016,2016,March,March,14,1,5,7
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Offer,9800,test,suv,2004,automatik,163,...,90480,2016-04-04 12:47:46,2016,2016,March,March,22,12,12,4
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Offer,1500,test,kleinwagen,2001,manuell,75,...,91074,2016-03-17 17:40:17,2016,2016,March,March,0,17,15,5
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Offer,3600,test,kleinwagen,2008,manuell,69,...,60437,2016-04-06 10:17:21,2016,2016,March,March,6,10,8,5
5,2016-04-04 17:36:23,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,privat,Offer,650,test,limousine,1995,manuell,102,...,33775,2016-04-06 19:17:07,2016,2016,April,April,2,19,21,2
6,2016-04-01 20:48:51,Peugeot_206_CC_110_Platinum,privat,Offer,2200,test,cabrio,2004,manuell,109,...,67112,2016-04-05 18:18:39,2016,2016,April,April,4,18,12,4
7,2016-03-21 18:54:38,VW_Derby_Bj_80__Scheunenfund,privat,Offer,0,test,limousine,1980,manuell,50,...,19348,2016-03-25 16:47:58,2016,2016,March,March,4,16,36,5

In [15]:
#Exibir numero de linhas e colunas 
autos_df.shape

(313687, 27)

In [16]:
#Exibi o numero de colunas do dataset
autos_df.shape[1]

27

In [17]:
#Exibi informações estatisticas
autos_df.describe()

,price,yearOfRegistration,powerPS,kilometer,postalCode,yearOfCreation,yearCrawled,NoOfDaysOnline,NoOfHrsOnline,yearsOld,monthsOld
count,313687.000000,313687.000000,313687.000000,313687.000000,313687.000000,313687.000000,313687.0,313687.000000,313687.000000,313687.000000,313687.000000
mean,3902.961863,2001.909231,109.564250,131435.778340,50349.563597,2015.999930,2016.0,8.543274,11.834207,14.090769,6.235187
std,4168.150636,6.803211,191.741685,34963.149957,25765.545682,0.008374,0.0,8.511917,6.504730,6.803211,3.454766
min,0.000000,1910.000000,0.000000,5000.000000,1067.000000,2015.000000,2016.0,0.000000,0.000000,0.000000,1.000000
25%,999.000000,1998.000000,68.000000,125000.000000,29640.000000,2016.000000,2016.0,2.000000,7.000000,10.000000,3.000000
50%,2490.000000,2002.000000,104.000000,150000.000000,49205.000000,2016.000000,2016.0,6.000000,12.000000,14.000000,6.000000
75%,5400.000000,2006.000000,140.000000,150000.000000,70794.000000,2016.000000,2016.0,13.000000,17.000000,18.000000,9.000000
max,28800.000000,2016.000000,20000.000000,150000.000000,99998.000000,2016.000000,2016.0,384.000000,23.000000,106.000000,11.000000

In [18]:
#mostra a porcentagem de dados nulos
round((autos_df.isnull().sum() * 100) / autos_df.shape[0],2)

dateCrawled            0.00
name                   0.00
seller                 0.00
offerType              0.00
price                  0.00
abtest                 0.00
vehicleType            0.00
yearOfRegistration     0.00
gearbox                0.00
powerPS                0.00
model                  0.00
kilometer              0.00
monthOfRegistration    0.00
fuelType               0.06
brand                  0.00
notRepairedDamage      0.00
dateCreated            0.00
postalCode             0.00
lastSeen               0.00
yearOfCreation         0.00
yearCrawled            0.00
monthOfCreation        0.00
monthCrawled           0.00
NoOfDaysOnline         0.00
NoOfHrsOnline          0.00
yearsOld               0.00
monthsOld              0.00
dtype: float64

In [19]:
#mostra a porcentagem de dados NA
autos_df.isna().sum()

dateCrawled              0
name                     0
seller                   0
offerType                0
price                    0
abtest                   0
vehicleType              0
yearOfRegistration       0
gearbox                  0
powerPS                  0
model                    0
kilometer                0
monthOfRegistration      0
fuelType               189
brand                    0
notRepairedDamage        0
dateCreated              0
postalCode               0
lastSeen                 0
yearOfCreation           0
yearCrawled              0
monthOfCreation          0
monthCrawled             0
NoOfDaysOnline           0
NoOfHrsOnline            0
yearsOld                 0
monthsOld                0
dtype: int64

In [20]:
#Exibi os dados apartir da linha 700 a 750
autos_df.loc[700:750]

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,...,postalCode,lastSeen,yearOfCreation,yearCrawled,monthOfCreation,monthCrawled,NoOfDaysOnline,NoOfHrsOnline,yearsOld,monthsOld
700,2016-03-09 20:38:22,Opel_Omega_2_0_116PS_TÜV_04/2016_Neue_Bremsen_...,privat,Offer,398,test,kombi,1996,manuell,116,...,90513,2016-03-23 14:48:25,2016,2016,March,March,14,14,20,6
701,2016-03-05 20:36:24,BMW_320i,privat,Offer,2700,control,limousine,2001,manuell,170,...,91522,2016-03-15 09:46:35,2016,2016,March,March,10,9,15,9
702,2016-03-23 19:00:20,Opel_Astra_2.0_16V_Turbo_Coupe,privat,Offer,6999,test,coupe,2001,manuell,265,...,29664,2016-04-05 23:45:59,2016,2016,March,March,13,23,15,8
703,2016-03-23 22:49:45,Mercedes_benz_s320_tip_top,privat,Offer,4000,test,limousine,1999,automatik,0,...,41236,2016-04-06 08:17:44,2016,2016,March,March,14,8,17,11
704,2016-03-09 10:54:10,Honda_Accord_2.0_i_Comfort,privat,Offer,2190,control,limousine,2003,manuell,155,...,87437,2016-03-11 16:45:58,2016,2016,March,March,2,16,13,1
705,2016-03-25 11:50:46,Audi_A4_Cabriolet_2.4,privat,Offer,7450,test,cabrio,2003,automatik,170,...,76756,2016-04-06 12:44:54,2016,2016,March,March,12,12,13,9
706,2016-03-19 10:51:07,diesel_sparbuechse_corsa_c,privat,Offer,1850,test,kleinwagen,2002,manuell,75,...,12355,2016-03-26 20:47:17,2016,2016,March,March,7,20,14,7
707,2016-04-02 16:49:46,Audi_A4_1.8_T_AHK__Xenon__Navi__gepflegt!,privat,Offer,9450,control,limousine,2005,manuell,163,...,26676,2016-04-06 16:15:44,2016,2016,April,April,4,16,11,9
708,2016-03-17 14:38:54,Ford_Focus_Turnier_1.6_TDCi_bis_18.03_angemeldet,privat,Offer,2999,control,kombi,2007,manuell,109,...,66773,2016-03-17 14:38:54,2016,2016,March,March,0,14,9,4
709,2016-03-26 16:53:56,Polo_9n3_ah_exclusive,privat,Offer,4800,control,kleinwagen,2007,manuell,80,...,4600,2016-03-26 16:53:56,2016,2016,March,March,0,16,9,6
710,2016-03-11 12:54:22,VW_GOLF_4_1.4_16V_TÜV_NEU_KLIMA_4X_ELEKTRIK_FE...,privat,Offer,1670,test,limousine,1999,manuell,75,...,52388,2016-03-23 03:19:38,2016,2016,March,March,12,3,17,4
711,2016-03-07 13:46:32,Toyota_Corolla_1.6_Combi_Sol,privat,Offer,1800,control,kombi,2003,manuell,110,...,53347,2016-03-10 10:46:17,2016,2016,March,March,3,10,13,6
712,2016-03-17 20:58:30,MINI_Mini_One,privat,Offer,5299,control,kleinwagen,2005,manuell,90,...,53797,2016-04-07 10:15:30,2016,2016,March,March,21,10,11,7
713,2016-03-15 16:37:39,Jaguar_XJ40__sehr_gepflegt,privat,Offer,3750,control,limousine,1991,automatik,234,...,83435,2016-03-29 23:15:33,2016,2016,March,March,14,23,25,11
714,2016-03-28 15:37:11,Ford_Focus_Kombi,privat,Offer,750,control,kombi,2000,manuell,0,...,28832,2016-04-06 20:15:35,2016,2016,March,March,9,20,16,7
715,2016-03-22 17:53:32,Mercedes_C200_Kompressor_mit_wenig_Kilometern,privat,Offer,4200,control,limousine,2000,manuell,163,...,35394,2016-04-07 07:46:43,2016,2016,March,March,16,7,16,6
716,2016-03-21 18:41:46,Golf_4_GTI_1.8_Turbo,privat,Offer,2549,test,andere,1998,manuell,150,...,38112,2016-04-07 13:16:20,2016,2016,March,March,17,13,18,5
717,2016-03-14 12:48:40,Skoda_Octavia_Scout_2_0_FSI_Allrad,privat,Offer,8380,test,kombi,2008,manuell,150,...,94405,2016-04-05 12:47:36,2016,2016,March,March,22,12,8,5
718,2016-03-27 18:51:29,Suzuki_Grand_Vitara_1.9_DDiS,privat,Offer,8000,control,suv,2007,manuell,129,...,95509,2016-04-05 15:46:49,2016,2016,March,March,9,15,9,9
719,2016-03-19 12:55:55,Mercedes_Benz_E_240,privat,Offer,2599,test,limousine,1998,manuell,170,...,89616,2016-04-06 17:46:14,2016,2016,March,March,18,17,18,9
720,2016-03-06 16:48:16,Zuverlaessiges_Auto_sucht_neuen_Besitzer,privat,Offer,600,test,Other,2000,manuell,86,...,18181,2016-03-25 17:17:54,2016,2016,March,March,19,17,16,11
721,2016-03-10 17:39:00,Skoda_Octavia_1.9_TDi_Combi_SLX,privat,Offer,2650,control,kombi,2000,manuell,110,...,27374,2016-03-12 07:46:00,2016,2016,March,March,2,7,16,11
722,2016-04-04 15:46:35,Volkswagen_Phaeton_3.0_V6_TDI_Automatik_Tuev_L...,privat,Offer,6800,test,limousine,2006,automatik,224,...,26817,2016-04-06 17:17:09,2016,2016,April,April,2,17,10,2
723,2016-04-04 21:54:07,Ford_Fiesta_1.3,privat,Offer,2410,test,kleinwagen,2004,manuell,69,...,33442,2016-04-07 00:45:11,2016,2016,April,April,3,0,12,9
724,2016-03-07 09:39:18,Mercedes_Benz_Vito_112_CDI,privat,Offer,2100,control,kombi,2002,manuell,122,...,94094,2016-03-07 16:17:30,2016,2016,March,March,0,16,14,8
725,2016-03-28 12:46:22,Nissan_Micra_in_blau,privat,Offer,300,test,kleinwagen,1996,manuell,55,...,49716,2016-04-06 15:44:59,2016,2016,March,March,9,15,20,10
726,2016-03-27 14:51:10,Peugeot_206_CC_110_Roland_Garros,privat,Offer,3500,control,cabrio,2005,manuell,109,...,51105,2016-03-27 14:51:10,2016,2016,March,March,0,14,11,7
727,2016-03-14 13:25:27,Peugeot_406_Break_Sport,privat,Offer,2250,test,kombi,2001,manuell,158,...,35781,2016-03-22 19:19:16,2016,2016,March,March,8,19,15,11
728,2016-03-30 17:38:36,Fiat_Cinquecento_0.9_i.e._S,privat,Offer,500,control,kleinwagen,1998,manuell,39,...,92690,2016-04-07 08:16:35,2016,2016,March,March,8,8,18,9
729,2016-03-17 23:39:33,BMW_X3_2.0d,privat,Offer,10200,control,limousine,2006,manuell,150,...,94371,2016-03-26 06:45:34,2016,2016,March,March,9,6,10,8
730,2016-03-17 18:54:42,Opel_Corsa_1.2_Easytronic_m.Seitenschaden,privat,Offer,2800,control,kleinwagen,2007,automatik,80,...,33739,2016-03-17 18:54:42,2016,2016,March,March,0,18,9,5
731,2016-03-19 13:43:42,Honda_Civic_1.4i_S_Cool,privat,Offer,1500,test,limousine,2001,manuell,90,...,79618,2016-03-27 01:45:14,2016,2016,March,March,8,1,15,6
732,2016-03-08 17:38:52,VW_Polo_6_N_fuer_Bastler,privat,Offer,330,control,kleinwagen,1999,manuell,60,...,30851,2016-04-07 06:16:00,2016,2016,March,March,30,6,17,6
733,2016-03-16 08:53:55,Mercedes_C180_Limousine,privat,Offer,550,test,limousine,1993,manuell,122,...,44143,2016-03-19 06:16:25,2016,2016,March,March,3,6,23,2
734,2016-03-16 17:53:12,Ford_Focus_Turn._1.8_TDCi_Futura,privat,Offer,1320,control,kombi,2002,manuell,116,...,37081,2016-04-07 00:45:29,2016,2016,March,March,22,0,14,8
735,2016-03-12 15:49:29,BMW_118d_DPF_Aut.,privat,Offer,7500,control,limousine,2008,automatik,143,...,12437,2016-04-05 01:18:30,2016,2016,March,March,24,1,8,2
736,2016-03-28 23:53:09,Golf_V__5__FSI_2.0_Sport_150PS_auch_Tausch,privat,Offer,7000,test,limousine,2004,automatik,150,...,12051,2016-04-05 13:45:13,2016,2016,March,March,8,13,12,6
737,2016-03-21 16:47:45,Seat_Ibiza__Klima__1._Hd.__Blau_Met._60_PS_Euro4,privat,Offer,899,control,limousine,2000,manuell,60,...,37688,2016-03-31 21:16:19,2016,2016,March,March,10,21,16,5
738,2016-03-31 13:46:24,BMW_E36_316i_compact_Vollausstat.+_komplet._M_...,privat,Offer,1000,control,coupe,1998,manuell,102,...,34123,2016-04-04 05:46:00,2016,2016,March,March,4,5,18,11
739,2016-03-15 09:37:25,Audi_A5_3.0_TDI_Sportback_quattro_DPF_S_tronic,privat,Offer,21500,control,coupe,2009,automatik,239,...,47269,2016-04-05 19:17:05,2016,2016,March,March,21,19,7,1
740,2016-04-05 09:54:58,Seat_Cordoba,privat,Offer,250,control,limousine,1995,manuell,75,...,98593,2016-04-07 13:16:41,2016,2016,April,April,2,13,21,4
741,2016-03-09 08:53:31,Audi_a6_2.0_170_PS_2009_Unfall,privat,Offer,0,test,kombi,2009,manuell,170,...,79822,2016-03-09 10:40:29,2016,2016,March,March,0,10,7,11
742,2016-03-09 14:52:30,BMW_525,privat,Offer,11500,test,limousine,2008,automatik,197,...,12103,2016-03-25 15:48:33,2016,2016,March,March,16,15,8,5
743,2016-03-19 08:37:01,Renault_clio_Automatik_Klima_Tuev_Neu,privat,Offer,1499,test,kleinwagen,1999,automatik,90,...,69181,2016-03-20 11:17:33,2016,2016,March,March,1,11,17,6
744,2016-04-02 13:50:51,top__Zustand__noch_tuev_und_wenige_Kilometer__...,privat,Offer,380,test,Other,2016,manuell,54,...,3046,2016-04-02 13:50:51,2016,2016,April,April,0,13,0,11
745,2016-03-27 14:49:20,Renault_Megane_zu_verkaufen,privat,Offer,500,control,kombi,1999,manuell,104,...,31737,2016-04-01 14:45:24,2016,2016,March,March,5,14,17,5
746,2016-03-10 07:36:57,BMW_530d_Touring_als_Kombi_3_Liter_218_PS,privat,Offer,5900,control,kombi,2004,automatik,218,...,15366,2016-03-20 09:47:10,2016,2016,March,March,10,9,12,2
747,2016-03-31 15:46:25,BMW_316i_Bastlerfahrzeug,privat,Offer,200,control,limousine,1995,manuell,102,...,6667,2016-03-31 15:46:25,2016,2016,March,March,0,15,21,4
748,2016-03-06 12:51:24,Ford_Ford_Fiesta_1.4_TDCI._NEUER_TÜV_!,privat,Offer,2000,test,kleinwagen,2002,manuell,68,...,85774,2016-03-06 12:51:24,2016,2016,March,March,0,12,14,1
749,2016-03-22 16:57:42,BMW_318ti_in_Weiss,privat,Offer,300,test,Other,2016,manuell,140,...,57489,2016-03-26 18:18:21,2016,2016,March,March,4,18,0,11
750,2016-03-31 21:58:03,Volkswagen_Golf_Plus_1.6_TDI_DPF_Style,privat,Offer,12999,test,bus,2011,manuell,105,...,86529,2016-04-06 18:44:58,2016,2016,March,March,6,18,5,2

In [21]:
#criando um novo dataframe com as seguintes tabelas
novoautos_df = autos_df [['name','price','vehicleType', 'yearOfRegistration', 'gearbox']]

In [22]:
#mostra o novo dataframe criado com as tabelas selecionadas
novoautos_df.head(15)

,name,price,vehicleType,yearOfRegistration,gearbox
0,Golf_3_1.6,480,Other,1993,manuell
1,A5_Sportback_2.7_Tdi,18300,coupe,2011,manuell
2,"Jeep_Grand_Cherokee_""Overland""",9800,suv,2004,automatik
3,GOLF_4_1_4__3TÜRER,1500,kleinwagen,2001,manuell
4,Skoda_Fabia_1.4_TDI_PD_Classic,3600,kleinwagen,2008,manuell
5,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,650,limousine,1995,manuell
6,Peugeot_206_CC_110_Platinum,2200,cabrio,2004,manuell
7,VW_Derby_Bj_80__Scheunenfund,0,limousine,1980,manuell
8,VW_Golf_4_5_tuerig_zu_verkaufen_mit_Anhaengerk...,999,kleinwagen,1998,manuell
9,Mazda_3_1.6_Sport,2000,limousine,2004,manuell
10,Volkswagen_Passat_Variant_2.0_TDI_Comfortline,2799,kombi,2005,manuell
11,"VW_Passat_Facelift_35i__""7Sitzer""",999,kombi,1995,manuell
12,VW_PASSAT_1.9_TDI_131_PS_LEDER,2500,kombi,2004,manuell
13,Nissan_Navara_2.5DPF_SE4x4_Klima_Sitzheizg_Blu...,17999,suv,2011,manuell
14,KA_Lufthansa_Edition_450_VB,450,kleinwagen,1910,Unspecified